:root{
    --color-primary: #7A918D;
    --color-secondary: #93B1A7;
    --color-accent: #99C2A2;
    --color-bg-main: #DBFEB8;
    --color-bg-surface: #C5EDAC;
    --color-text-main: #1F2933;
    --color-text-on-primary: #ffffff;
}

body{
    padding: 0;
    margin: 0;
}

*:hover,
*:focus{
  outline-style:none;
}